[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Authlib = "*"
omegaconf = "*"
gunicorn = "*"
prometheus-flask-exporter = "*"
requests = "*"

[dev-packages]
