[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Authlib = "*"
requests = "*"
PyYAML = "*"
waitress = "*"
omegaconf = "*"

[dev-packages]

[requires]
python_version = "3.8"
